# executable
*.exe
*.o
*.a
*.dylib
*.so
*.e
core

# cmake
/release
/debug

# log
*.log
*.tlog

# .DS_Store
.DS_Store

# dependencies
spdlog
fmt
json
boost
icu
Catch2
PDCurses

# CMakeLists.txt
src/CMakeLists.txt
test/CMakeLists.txt
example/CMakeLists.txt
