# executable
*.exe
*.o
*.a
*.dylib
*.so
*.e
*.out
*.output
core

# cmake
release
debug
msvc
~m4_in_temp_file*
~m4_out_temp_file*

# log
*.log
*.tlog

# .DS_Store
.DS_Store

# dependencies
spdlog
fmt
Catch2
boost
llvm-project

# auto generate source code
*.yy.cpp
*.tab.hpp
*.tab.cpp
Configure.h

# clion
.idea
cmake-build-debug
