# executable
*.exe
*.o
*.a
*.dylib
*.so
*.e
*.out
*.output
core
*.ll

# cmake
release
debug
msvc
~m4_in_temp_file*
~m4_out_temp_file*

# log
*.log
*.tlog

# .DS_Store
.DS_Store

# dependencies
spdlog
fmt
better-enums
Catch2
boost
llvm-project

# auto generate source code
tokenizer.yy.hh
tokenizer.yy.cc
parser.tab.hh
parser.tab.cc
src/Configure.h

# vscode
compile_commands.json
compile_flags.txt
.clangd
.cache

# clion
cmake-build-debug
.idea

# graphviz
*.dot
*.png
*.ll
*.bc

